In [4]:
pwd

'/Users/pallabichandra/Downloads/CCM/CCM-site'

In [53]:
import pandas as pd 
df=pd.read_csv('/Users/pallabichandra/Downloads/student+performance/student/student-por.csv')

In [54]:
print(df.columns)

Index(['school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3'], dtype='object')

In [55]:
print(len(df))

649

In [56]:
print(df.iloc[0][0])

GP;"F";18;"U";"GT3";"A";4;4;"at_home";"teacher";"course";"mother";2;2;0;"yes";"no";"no";"no";"yes";"yes";"no";"no";4;3;4;1;1;3;4;"0";"11";11

In [57]:
import pandas as pd

# Assuming your DataFrame is named df
# Split the single string in each row by semicolons
df_split = df.iloc[:, 0].str.split(';', expand=True)

# Assign proper column names
column_names = ['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob',
                'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
                'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout',
                'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3']
df_split.columns = column_names

# Now you have a DataFrame with properly separated columns
# You can access values via column names effectively
print(df_split.head())

  school  sex age address famsize Pstatus Medu Fedu       Mjob        Fjob  \
0     GP  "F"  18     "U"   "GT3"     "A"    4    4  "at_home"   "teacher"
1     GP  "F"  17     "U"   "GT3"     "T"    1    1  "at_home"     "other"
2     GP  "F"  15     "U"   "LE3"     "T"    1    1  "at_home"     "other"
3     GP  "F"  15     "U"   "GT3"     "T"    4    2   "health"  "services"
4     GP  "F"  16     "U"   "GT3"     "T"    3    3    "other"     "other"

   ... famrel freetime goout Dalc Walc health absences    G1    G2  G3
0  ...      4        3     4    1    1      3        4   "0"  "11"  11
1  ...      5        3     3    1    1      3        2   "9"  "11"  11
2  ...      4        3     2    2    3      3        6  "12"  "13"  12
3  ...      3        2     2    1    1      5        0  "14"  "14"  14
4  ...      4        3     2    1    2      5        0  "11"  "13"  13

[5 rows x 33 columns]

In [60]:
# Save the DataFrame to a CSV file
df_split.to_csv('df_split.csv', index=False)

In [61]:
import pandas as pd

# Read the CSV file into a DataFrame
df_split = pd.read_csv('df_split.csv')

# Display the DataFrame
print(df_split.head())

  school  sex  age address famsize Pstatus  Medu  Fedu       Mjob        Fjob  \
0     GP  "F"   18     "U"   "GT3"     "A"     4     4  "at_home"   "teacher"
1     GP  "F"   17     "U"   "GT3"     "T"     1     1  "at_home"     "other"
2     GP  "F"   15     "U"   "LE3"     "T"     1     1  "at_home"     "other"
3     GP  "F"   15     "U"   "GT3"     "T"     4     2   "health"  "services"
4     GP  "F"   16     "U"   "GT3"     "T"     3     3    "other"     "other"

   ... famrel freetime  goout  Dalc  Walc health absences    G1    G2  G3
0  ...      4        3      4     1     1      3        4   "0"  "11"  11
1  ...      5        3      3     1     1      3        2   "9"  "11"  11
2  ...      4        3      2     2     3      3        6  "12"  "13"  12
3  ...      3        2      2     1     1      5        0  "14"  "14"  14
4  ...      4        3      2     1     2      5        0  "11"  "13"  13

[5 rows x 33 columns]

In [62]:
print(df_split.describe())

              age        Medu        Fedu  traveltime   studytime    failures  \
count  649.000000  649.000000  649.000000  649.000000  649.000000  649.000000
mean    16.744222    2.514638    2.306626    1.568567    1.930663    0.221880
std      1.218138    1.134552    1.099931    0.748660    0.829510    0.593235
min     15.000000    0.000000    0.000000    1.000000    1.000000    0.000000
25%     16.000000    2.000000    1.000000    1.000000    1.000000    0.000000
50%     17.000000    2.000000    2.000000    1.000000    2.000000    0.000000
75%     18.000000    4.000000    3.000000    2.000000    2.000000    0.000000
max     22.000000    4.000000    4.000000    4.000000    4.000000    3.000000

           famrel    freetime       goout        Dalc        Walc      health  \
count  649.000000  649.000000  649.000000  649.000000  649.000000  649.000000
mean     3.930663    3.180277    3.184900    1.502311    2.280431    3.536210
std      0.955717    1.051093    1.175766    0.924834    1.284380    1.446259
min      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000
25%      4.000000    3.000000    2.000000    1.000000    1.000000    2.000000
50%      4.000000    3.000000    3.000000    1.000000    2.000000    4.000000
75%      5.000000    4.000000    4.000000    2.000000    3.000000    5.000000
max      5.000000    5.000000    5.000000    5.000000    5.000000    5.000000

         absences          G3
count  649.000000  649.000000
mean     3.659476   11.906009
std      4.640759    3.230656
min      0.000000    0.000000
25%      0.000000   10.000000
50%      2.000000   12.000000
75%      6.000000   14.000000
max     32.000000   19.000000

In [63]:
# Filter out only numeric columns
numeric_columns = df_split.select_dtypes(include=['int64', 'float64'])

# Generate descriptive statistics for numeric columns
description = numeric_columns.describe()

# Display the descriptive statistics
print(description)

              age        Medu        Fedu  traveltime   studytime    failures  \
count  649.000000  649.000000  649.000000  649.000000  649.000000  649.000000
mean    16.744222    2.514638    2.306626    1.568567    1.930663    0.221880
std      1.218138    1.134552    1.099931    0.748660    0.829510    0.593235
min     15.000000    0.000000    0.000000    1.000000    1.000000    0.000000
25%     16.000000    2.000000    1.000000    1.000000    1.000000    0.000000
50%     17.000000    2.000000    2.000000    1.000000    2.000000    0.000000
75%     18.000000    4.000000    3.000000    2.000000    2.000000    0.000000
max     22.000000    4.000000    4.000000    4.000000    4.000000    3.000000

           famrel    freetime       goout        Dalc        Walc      health  \
count  649.000000  649.000000  649.000000  649.000000  649.000000  649.000000
mean     3.930663    3.180277    3.184900    1.502311    2.280431    3.536210
std      0.955717    1.051093    1.175766    0.924834    1.284380    1.446259
min      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000
25%      4.000000    3.000000    2.000000    1.000000    1.000000    2.000000
50%      4.000000    3.000000    3.000000    1.000000    2.000000    4.000000
75%      5.000000    4.000000    4.000000    2.000000    3.000000    5.000000
max      5.000000    5.000000    5.000000    5.000000    5.000000    5.000000

         absences          G3
count  649.000000  649.000000
mean     3.659476   11.906009
std      4.640759    3.230656
min      0.000000    0.000000
25%      0.000000   10.000000
50%      2.000000   12.000000
75%      6.000000   14.000000
max     32.000000   19.000000

In [64]:
# Replace 'GP' with 0 and 'MS' with 1
df_split['school'] = df_split['school'].replace({'GP': 0, 'MS': 1})

In [65]:
df_split['school']

0      0
1      0
2      0
3      0
4      0
      ..
644    1
645    1
646    1
647    1
648    1
Name: school, Length: 649, dtype: int64

In [97]:
# Replace 'F' with 0 and 'M' with 1 in the 'sex' column
df_split['sex'] = df_split['sex'].replace({'"F"': 0, '"M"': 1})
df_split['sex']

0      0
1      0
2      0
3      0
4      0
      ..
644    0
645    0
646    0
647    1
648    1
Name: sex, Length: 649, dtype: int64

In [98]:
df_split['address'] = df_split['address'].replace({'"R"': 0, '"U"': 1})
df_split['address']

0      1
1      1
2      1
3      1
4      1
      ..
644    0
645    1
646    1
647    1
648    0
Name: address, Length: 649, dtype: int64

In [99]:
df_split['Pstatus']= df_split['Pstatus'].replace({'"A"': 0, '"T"': 1})
df_split['Pstatus']

0      0
1      1
2      1
3      1
4      1
      ..
644    1
645    1
646    1
647    1
648    1
Name: Pstatus, Length: 649, dtype: int64

In [100]:
df_split['famsize']= df_split['famsize'].replace({'"LE3"': 0, '"GT3"': 1})
df_split['famsize']

0      1
1      1
2      0
3      1
4      1
      ..
644    1
645    0
646    1
647    0
648    0
Name: famsize, Length: 649, dtype: int64

In [101]:
df_split['schoolsup']= df_split['schoolsup'].replace({'"yes"': 1, '"no"': 0})
df_split['schoolsup']

0      1
1      0
2      1
3      0
4      0
      ..
644    0
645    0
646    0
647    0
648    0
Name: schoolsup, Length: 649, dtype: int64

In [102]:
df_split['famsup']= df_split['famsup'].replace({'"yes"': 1, '"no"': 0})
df_split['famsup']

0      0
1      1
2      0
3      1
4      1
      ..
644    0
645    1
646    0
647    0
648    0
Name: famsup, Length: 649, dtype: int64

In [107]:
df_split['paid']= df_split['paid'].replace({'"yes"': 1, '"no"': 0})
df_split['paid']

0      0
1      0
2      0
3      0
4      0
      ..
644    0
645    0
646    0
647    0
648    0
Name: paid, Length: 649, dtype: int64

In [108]:
 df_split['nursery']= df_split['nursery'].replace({'"yes"': 1, '"no"': 0})
df_split['nursery']

0      1
1      0
2      1
3      1
4      1
      ..
644    0
645    1
646    1
647    0
648    0
Name: nursery, Length: 649, dtype: int64

In [109]:
df_split['activities']= df_split['activities'].replace({'"yes"': 1, '"no"': 0})
df_split['activities']

0      0
1      0
2      0
3      1
4      0
      ..
644    1
645    0
646    1
647    0
648    0
Name: activities, Length: 649, dtype: int64

In [110]:
#higher,internet,romantic
df_split['internet']= df_split['internet'].replace({'"yes"': 1, '"no"': 0})
df_split['internet']

0      0
1      1
2      1
3      1
4      0
      ..
644    1
645    1
646    0
647    1
648    1
Name: internet, Length: 649, dtype: int64

In [111]:
df_split['higher']= df_split['higher'].replace({'"yes"': 1, '"no"': 0})
df_split['higher']

0      1
1      1
2      1
3      1
4      1
      ..
644    1
645    1
646    1
647    1
648    1
Name: higher, Length: 649, dtype: int64

In [112]:
df_split['romantic']= df_split['romantic'].replace({'"yes"': 1, '"no"': 0})
df_split['romantic']

0      0
1      0
2      0
3      1
4      0
      ..
644    0
645    0
646    0
647    0
648    0
Name: romantic, Length: 649, dtype: int64

In [89]:
print(df_split.head())

   school  sex  age address famsize Pstatus  Medu  Fedu       Mjob  \
0       0  "F"   18     "U"   "GT3"     "A"     4     4  "at_home"
1       0  "F"   17     "U"   "GT3"     "T"     1     1  "at_home"
2       0  "F"   15     "U"   "LE3"     "T"     1     1  "at_home"
3       0  "F"   15     "U"   "GT3"     "T"     4     2   "health"
4       0  "F"   16     "U"   "GT3"     "T"     3     3    "other"

         Fjob  ... famrel freetime  goout  Dalc  Walc health absences    G1  \
0   "teacher"  ...      4        3      4     1     1      3        4   "0"
1     "other"  ...      5        3      3     1     1      3        2   "9"
2     "other"  ...      4        3      2     2     3      3        6  "12"
3  "services"  ...      3        2      2     1     1      5        0  "14"
4     "other"  ...      4        3      2     1     2      5        0  "11"

     G2  G3
0  "11"  11
1  "11"  11
2  "13"  12
3  "14"  14
4  "13"  13

[5 rows x 33 columns]

In [118]:
import pandas as pd

# Assuming 'column_name' is the name of the column you want to create dummies for
# Get the number of unique values in the column
num_unique_values = df_split['Mjob'].nunique()

# Create dummy variables with that many levels
dummies = pd.get_dummies(df_split['Mjob'], prefix='Mjob')

# Display the number of unique values and the dummy variables
print("Number of unique values:", num_unique_values)
print("Dummy variables:")
print(dummies.head())

# Concatenate the dummy variables with the original DataFrame
df_split = pd.concat([df_split, dummies], axis=1)

# Drop the original 'categorical_feature' column
df_split.drop(columns=['Mjob'], inplace=True)

Number of unique values: 5
Dummy variables:
   Mjob_"at_home"  Mjob_"health"  Mjob_"other"  Mjob_"services"  \
0               1              0             0                0
1               1              0             0                0
2               1              0             0                0
3               0              1             0                0
4               0              0             1                0

   Mjob_"teacher"
0               0
1               0
2               0
3               0
4               0

In [119]:
num_unique_values = df_split['Fjob'].nunique()

# Create dummy variables with that many levels
dummies = pd.get_dummies(df_split['Fjob'], prefix='Fjob')

# Display the number of unique values and the dummy variables
print("Number of unique values:", num_unique_values)
print("Dummy variables:")
print(dummies.head())
# Concatenate the dummy variables with the original DataFrame
df_split = pd.concat([df_split, dummies], axis=1)

# Drop the original 'categorical_feature' column
df_split.drop(columns=['Fjob'], inplace=True)

Number of unique values: 5
Dummy variables:
   Fjob_"at_home"  Fjob_"health"  Fjob_"other"  Fjob_"services"  \
0               0              0             0                0
1               0              0             1                0
2               0              0             1                0
3               0              0             0                1
4               0              0             1                0

   Fjob_"teacher"
0               1
1               0
2               0
3               0
4               0

In [73]:
num_unique_values = df_split['reason'].nunique()

# Create dummy variables with that many levels
dummies = pd.get_dummies(df_split['reason'], prefix='reason')

# Display the number of unique values and the dummy variables
print("Number of unique values:", num_unique_values)
print("Dummy variables:")
print(dummies.head())

Number of unique values: 4
Dummy variables:
   reason_"course"  reason_"home"  reason_"other"  reason_"reputation"
0                1              0               0                    0
1                1              0               0                    0
2                0              0               1                    0
3                0              1               0                    0
4                0              1               0                    0

In [120]:
num_unique_values = df_split['guardian'].nunique()

# Create dummy variables with that many levels
dummies = pd.get_dummies(df_split['guardian'], prefix='guardian')

# Display the number of unique values and the dummy variables
print("Number of unique values:", num_unique_values)
print("Dummy variables:")
print(dummies.head())
# Concatenate the dummy variables with the original DataFrame
df_split = pd.concat([df_split, dummies], axis=1)

# Drop the original 'categorical_feature' column
df_split.drop(columns=['guardian'], inplace=True)

Number of unique values: 3
Dummy variables:
   guardian_"father"  guardian_"mother"  guardian_"other"
0                  0                  1                 0
1                  1                  0                 0
2                  0                  1                 0
3                  0                  1                 0
4                  1                  0                 0

In [127]:
num_unique_values = df_split['reason'].nunique()

# Create dummy variables with that many levels
dummies = pd.get_dummies(df_split['reason'], prefix='reason')

# Display the number of unique values and the dummy variables
print("Number of unique values:", num_unique_values)
print("Dummy variables:")
print(dummies.head())
# Concatenate the dummy variables with the original DataFrame
df_split = pd.concat([df_split, dummies], axis=1)

# Drop the original 'categorical_feature' column
df_split.drop(columns=['reason'], inplace=True)

Number of unique values: 4
Dummy variables:
   reason_"course"  reason_"home"  reason_"other"  reason_"reputation"
0                1              0               0                    0
1                1              0               0                    0
2                0              0               1                    0
3                0              1               0                    0
4                0              1               0                    0

In [115]:
# Remove double quotes and convert to integers
df_split['G1'] = df_split['G1'].str.replace('"', '').astype(int)

In [116]:
# Remove double quotes and convert to integers
df_split['G2'] = df_split['G2'].str.replace('"', '').astype(int)

In [117]:
print(df_split['G2'],df_split['G1'])

0      11
1      11
2      13
3      14
4      13
       ..
644    11
645    15
646    12
647    10
648    11
Name: G2, Length: 649, dtype: int64 0       0
1       9
2      12
3      14
4      11
       ..
644    10
645    15
646    11
647    10
648    10
Name: G1, Length: 649, dtype: int64

In [128]:
print(df_split.head())

   school  sex  age  address  famsize  Pstatus  Medu  Fedu  traveltime  \
0       0    0   18        1        1        0     4     4           2
1       0    0   17        1        1        1     1     1           1
2       0    0   15        1        0        1     1     1           1
3       0    0   15        1        1        1     4     2           1
4       0    0   16        1        1        1     3     3           1

   studytime  ...  Fjob_"other"  Fjob_"services"  Fjob_"teacher"  \
0          2  ...             0                0               1
1          2  ...             1                0               0
2          2  ...             1                0               0
3          3  ...             0                1               0
4          2  ...             1                0               0

   guardian_"father"  guardian_"mother"  guardian_"other"  reason_"course"  \
0                  0                  1                 0                1
1                  1                  0                 0                1
2                  0                  1                 0                0
3                  0                  1                 0                0
4                  1                  0                 0                0

   reason_"home"  reason_"other"  reason_"reputation"
0              0               0                    0
1              0               0                    0
2              0               1                    0
3              1               0                    0
4              1               0                    0

[5 rows x 46 columns]

In [129]:
df_split.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
       'G3', 'Mjob_"at_home"', 'Mjob_"health"', 'Mjob_"other"',
       'Mjob_"services"', 'Mjob_"teacher"', 'Fjob_"at_home"', 'Fjob_"health"',
       'Fjob_"other"', 'Fjob_"services"', 'Fjob_"teacher"',
       'guardian_"father"', 'guardian_"mother"', 'guardian_"other"',
       'reason_"course"', 'reason_"home"', 'reason_"other"',
       'reason_"reputation"'],
      dtype='object')

In [130]:
# Your code goes here
# Your code goes here

from sklearn.model_selection import train_test_split

# Assuming df is your DataFrame and X contains your features while y contains your target variable
# Replace X and y with your actual feature and target variables

# Splitting the data into features (X) and target variable (y)
X = df_split.drop(columns=['G3'])  # Adjust 'target_column' to the name of your target column
y = df_split['G3']

# Splitting the data into training and testing sets with an 80-20 ratio
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Printing the sizes of the split sets
print("Training set size:", len(X_train_sub))
print("Testing set size:", len(X_test_sub))

Training set size: 467
Testing set size: 52

In [131]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 1.4758222268464474

In [132]:
# Calculate R-squared value on the test set
r_squared = model.score(X_test, y_test)
print("R-squared:", r_squared)

R-squared: 0.8486602531873926

In [133]:
# Your code goes here
# Your code goes here

from sklearn.model_selection import train_test_split

# Assuming df is your DataFrame and X contains your features while y contains your target variable
# Replace X and y with your actual feature and target variables

# Splitting the data into features (X) and target variable (y)
X = df_split.drop(columns=['G3','G1','G2'])  # Adjust 'target_column' to the name of your target column
y = df_split['G3']

# Splitting the data into training and testing sets with an 80-20 ratio
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Printing the sizes of the split sets
print("Training set size:", len(X_train_sub))
print("Testing set size:", len(X_test_sub))

Training set size: 467
Testing set size: 52

In [134]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 8.190447670106705

In [135]:
# Calculate R-squared value on the test set
r_squared = model.score(X_test, y_test)
print("R-squared:", r_squared)

R-squared: 0.160101905143059